<mat-card class="cardWithShadow theme-card">
      <div class="row">  
        <div class="col-lg-6">
          <!-- --------------------------------------------------- -->
          <!-- List with single Selection -->
          <!-- --------------------------------------------------- -->
          <mat-card class="b-1 shadow-none">
            <mat-card-header>
              <mat-card-title>Reading Log</mat-card-title>
            </mat-card-header>
            <mat-card-content class="b-t-1">
              <mat-selection-list #bookDetails [multiple]="false">
                <mat-list-option *ngFor="let book of bookList" [value]="book">
                    {{ book.title }}
                </mat-list-option>
              </mat-selection-list>
  
              <div *ngIf="bookDetails.selectedOptions.hasValue()">
                <p class="mat-subtitle-2 f-w-600 p-16 bg-light-primary rounded">
                  Title: {{bookDetails.selectedOptions.selected[0].value.title}}<br>
                  Author: {{bookDetails.selectedOptions.selected[0].value.author}}<br>
                  Started Reading:{{bookDetails.selectedOptions.selected[0].value.dateStart | date:'MM-dd-yyyy'}}<br>
                  Ended Reading: {{bookDetails.selectedOptions.selected[0].value.dateFinish | date:'MM-dd-yyyy'}}<br> 
                  Rating: {{bookDetails.selectedOptions.selected[0].value.rate}}<br>
                  Description:<br>
                  {{bookDetails.selectedOptions.selected[0].value.description}}<br>
                </p>
                <div>
                  <a mat-flat-button color="primary" class="w-50" (click)="OnDeleteSelected(bookDetails.selectedOptions.selected[0].value.id)">
                    Delete Book
                  </a>

                </div>
                

              </div>
            </mat-card-content>
          </mat-card>
        </div>
  